<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088306257730-1u0sqibd70lvg0io6p8ftamvhd6q2v1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088306257730-1u0sqibd70lvg0io6p8ftamvhd6q2v1j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088306257730-6c2i3ifoccrl3pld6ialmrqo79vd7s2q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYPmdmrKO4pdsFL4-XPc_3ePh-Ws12-uE</string>
	<key>GCM_SENDER_ID</key>
	<string>1088306257730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bebamart.app</string>
	<key>PROJECT_ID</key>
	<string>bebamart-95b69</string>
	<key>STORAGE_BUCKET</key>
	<string>bebamart-95b69.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088306257730:ios:56482e8429affdc52932db</string>
</dict>
</plist>